In [ ]:
#Question 1 :

list=[2,3,6]
def x():
  y=1
  for i in list:
    y=y*i
  return y

x()

36

In [ ]:
 #Question 2 :

list = [(2, 5), (1, 2), (4, 4), (2, 3), (2, 1)]
list1 =[] #اختار كل رقم1ز
list2 =[] #الارقام بالترتيب
for i in list:
  list1.append(i[1],)
list1.sort()
print(list1)
for i in list1:
  for m in list:
    if i == int(m[1],):
      list2.append(m)
print(list2)

[1, 2, 3, 4, 5]
[(2, 1), (1, 2), (2, 3), (4, 4), (2, 5)]

In [3]:
d1 = {'a': 100, 'b': 200, 'c':300}
d2 = {'a': 300, 'b': 200, 'd':400}
d3=dict(d1)
d3.update(d2)

for i,j in d1.items():#بعرف الدكشنري الاول
  for k,n in d2.items():
    if k==i:
      d3[i]=(j+n)

print(d3)

{'a': 400, 'b': 400, 'c': 300, 'd': 400}

In [1]:
#Question 4 :
m = int (input())

a={m :m**2 for m in range(1,m+1)}
print(a)

8
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64}

In [2]:
#Question 5: 
y = [('item1', '12.20'), ('item2', '15.10'), ('item3', '24.5')]
def end (x):
  return x[-1]
def sort (x):
  return sorted(y, key=end , reverse=True )
print(sort(a))

[('item3', '24.5'), ('item2', '15.10'), ('item1', '12.20')]